@page
@model IndexModel
@{
    ViewData["Title"] = "Sounak's Website";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sounak Moitra's Website</h1>
    <h2 class="display-8">Its for AZ-900 certification course</h2> 
    <h2 class="display-6">AZ-900 Final Project</h2> 
    <p>Student at <a href="https://bcrec.ac.in/">Dr. B. C. Roy Engineering College</a>.</p>
</div>
